.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.cusButton {
  margin-left: 2rem;
  background-color: rgb(172, 117, 235, 1);
  color: whitesmoke;
  font-weight: bold;
  border: none;
  text-align: center;
  padding: .6rem;
  font-size: 1.5rem;
  border-radius: .2rem;
}

.cusButton:hover {
  background-color: rgb(172, 117, 235, .7);
}

.cusInput {
  border: none;
  border-radius: .7rem;
  font-size: 2rem;
  background-color: rgb(172, 117, 235, .2);
  padding: .8rem;
  width: 65%;
}

.cusInput:focus {
  outline: none;
  background-color: rgb(172, 117, 235, .3);
  color: #4e4e4e;
}

.valid {
  background-color: aquamarine;
   color: #3e3e3e;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
}

.invalid {
  background-color: red;
  color: aliceblue;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1rem;
}